.product-categories {
    list-style: none;
    padding: 0;
}

.product-categories li {
    margin-bottom: 10px;
}

.mb-filter-body{
	border: 1px solid #ddd;
}

h2.mb-filter-title {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
	margin-bottom: 0;
}

ul.product-categories {
    font-size: 14px;
}
.mb-archive-page-wrapper ul.product-categories li.mb-parrent-cat{
	border-bottom: 1px solid #ddd; 
	padding:10px 15px;
	margin: 0;
    display: flex;
    justify-content: space-between;
}

.mb-archive-page-wrapper ul.product-categories > li.mb-parrent-cat:hover{
	text-decoration:underline;
	cursor:pointer;
}

ul.product-subcategories li{
	list-style: none;
}
.mb-list-group-item {
    padding: 15px;
    font-size: 12px;
}

input.mb-filter-submit {
    background: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

input.mb-filter-submit:hover{
    background: #58585a;
}

.mb-archive-page-wrapper ul.product-categories li.mb-parrent-cat .toggle-container span.toggle-arrow {
    color: #503b3b;
    cursor: pointer;
}
.mb-archive-page-wrapper ul.product-categories li.mb-parrent-cat > .toggle-container > span.toggle-arrow:hover{
    text-decoration: none !important;
}

.toggle-arrow.rotate-down::after {
    content: "▲";
}